<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Ian Helt</title>
    <link rel="stylesheet" href="../static/css/app.css"/>
</head>
<body>
<div id="profileBox">
    <img src="" alt="a handsome lad"/>
<div>Name: Ian Helt</div>
</div>
<div>Github URL: <a href="https://github.com/IanHelt">https://github.com/IanHelt</a> </div>
<div>Linkedin: <a href="https://www.linkedin.com/in/ian-helt-025269150/">https://www.linkedin.com/in/ian-helt-025269150/</a></div>
<div>Email: ianhelt23@gmail.com</div>
</body>
</html>